<a href="https://colab.research.google.com/github/gowravmannem/osu_Dataio_22/blob/main/Dateanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
summary = pd.read_csv("v2x_summary.csv")

In [ ]:
summary

,device,endlatitude,endlocaltime,endlongitude,endodometer,filedate,filetimeutc,numbsmtx,numcanoutages,numgnssoutages,...,numwarnings,startlatitude,startlocaltime,startlongitude,startodometer,utctime,uuid,tripid,tripdistance,avgspeed
0,101228,40.267269,80818385.0,-83.374784,NaN,20200626.0,221119.0,10879.0,3.0,0.0,...,13.0,40.240366,79879795.0,-83.390092,NaN,1.593209e+12,000eeb6d7338012c611d53bd738029e8,48ceba90ca67e820d7c385c8eec30d80,3258.871722,5.733557
1,103540,40.295117,45760525.0,-83.506669,NaN,20200608.0,115335.0,32797.0,13.0,0.0,...,0.0,40.188876,42917865.0,-82.757246,NaN,1.591617e+12,00244d3c3cde604807b2e8ca612c3f7d,3b70ac1ee5ff921075c894004db488b6,64851.351801,28.808664
2,100943,40.071973,7484165.0,-83.149719,NaN,20200626.0,14230.0,14578.0,32.0,0.0,...,0.0,39.985660,6417559.0,-83.024296,NaN,1.593136e+12,003c21fe61a65793f4a70a5b2abf278d,e0c0c7f5e984f90b485978e58e0d2bbe,14368.833824,21.229194
3,101795,40.099162,64137345.0,-83.120776,NaN,20200621.0,173039.0,12312.0,23.0,1.0,...,0.0,40.255500,63039737.0,-83.206426,NaN,1.592761e+12,005c81e8fc47e3f3eda32979a80d9253,a6e404cc9fab97bb49e73952e19cf990,18830.046269,22.812259
4,102645,40.277439,60135401.0,-83.511232,NaN,20200602.0,163928.0,1575.0,5.0,0.0,...,0.0,40.276127,59969581.0,-83.507510,NaN,1.591116e+12,00602c5e6355111b60e88524ef54835a,7adbbf10a73f8e679d4232565be01421,348.448883,3.351790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,101084,40.075955,82419291.0,-83.128267,NaN,20200624.0,224840.0,4338.0,5.0,0.0,...,0.0,40.095014,82169169.0,-83.131707,0.0,1.593039e+12,ffaa70ca0f12b711ed222f43eb49f18e,886a94f0c2e70cd729498d1b4b316776,2136.490605,10.763818
2256,103777,40.132584,43047857.0,-83.076575,NaN,20200623.0,115408.0,3600.0,13.0,0.0,...,0.0,40.149071,42849240.0,-83.094284,0.0,1.592913e+12,ffb0eb3279e2ec395990d86a13a21d47,0b9cefeaf655b05514552798c22e584b,2372.593568,14.750979
2257,102629,40.295115,42849550.0,-83.506675,NaN,20200608.0,112624.0,18910.0,13.0,0.0,...,0.0,40.133544,41340607.0,-83.179627,0.0,1.591616e+12,ffb90127574f9d57acc291968970f664,c358a2aa5de7374b1b0b96d0065816ab,33120.249447,24.287313
2258,102163,40.106534,39039486.0,-83.169116,NaN,20200625.0,104130.0,4928.0,5.0,0.0,...,0.0,40.073743,38542244.0,-83.119658,0.0,1.593082e+12,ffb90594589bc84c1524fe7fd95ecc7a,caf17d71ebf14080d6f3c063196c3352,5572.002170,15.101365
2259,101735,40.095416,1606415.0,-83.130634,NaN,20200615.0,2620.0,176.0,3.0,0.0,...,0.0,40.095232,1580812.0,-83.131723,0.0,1.592181e+12,ffd638391629272d99227ff9efedc113,e34df869a20491d371e3bbacfb5179ce,95.055976,2.190468

In [ ]:
dates=summary["filedate"]

In [ ]:
dates

0       20200626.0
1       20200608.0
2       20200626.0
3       20200621.0
4       20200602.0
           ...
2255    20200624.0
2256    20200623.0
2257    20200608.0
2258    20200625.0
2259    20200615.0
Name: filedate, Length: 2260, dtype: float64

In [ ]:
cleandates=pd.DataFrame()

In [ ]:
dates= dates.astype(int)

In [ ]:
dates

0       20200626
1       20200608
2       20200626
3       20200621
4       20200602
          ...
2255    20200624
2256    20200623
2257    20200608
2258    20200625
2259    20200615
Name: filedate, Length: 2260, dtype: int64

In [ ]:
dates=dates.astype(str)

In [ ]:
years=[]
cleandates["year"]=dates.str[0:4]

In [ ]:
cleandates["month"]=dates.str[4:6]

In [ ]:
cleandates["date"]=dates.str[6:8]

In [ ]:
cleandates=cleandates.astype(int)

In [ ]:
cleandates

      year  month  date
0     2020      6    26
1     2020      6     8
2     2020      6    26
3     2020      6    21
4     2020      6     2
...    ...    ...   ...
2255  2020      6    24
2256  2020      6    23
2257  2020      6     8
2258  2020      6    25
2259  2020      6    15

[2260 rows x 3 columns]

In [ ]:
for col in cleandates:
    print(col,': ',(len(pd.unique(cleandates[col]))))

year :  1
month :  1
day :  30

In [ ]:
# import Python's datetime module.
import datetime
# weekdays as a tuple.
weekdays = ("Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday")
# Find out what day of the week is this year's Christmas.
cleandates["day of the week"] = datetime.date(cleandates["year"],cleandates["month"],cleandates["date"]).weekday

TypeError: ignored

In [ ]:
cleandates['dayofweek'] = pd.to_datetime(cleandates['year','month','date'].to_datetime,).dayofyear

KeyError: ignored